*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production
.env.*.local

.phpactor.json
.phpunit.result.cache
.phpunit.cache
/.phpunit.cache

/.idea
/.nova
/.vscode
/.zed
/.fleet
/.codex

/auth.json
/node_modules
/vendor

/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

/storage/*.key
/storage/pail
/storage/app/private/evidence

Homestead.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
